<!-- header -->
<header class="wow-header wow-header-first">
    <div class="container">
      <div class="row">
        <div class="col-md-2 wow-logo">
          <a href="/" class="wow-logo">
            <img src="images/main-logo.png" alt="header-logo"/>
          </a>
        </div>
        <div class="col-md-10 wow-agent-block">
            <div class="agent-detail-main">
                <div class="agent-details">
                    <p>Speak to a Licensed Agent</p>
                    <a href="tel:(716) 473-8899">(716) 473-8899</a>
                    <small><span></span>Licensed Agents available now</small>
                </div>
                <div class="agent-img">
                    <img src="images/agent-img.png" alt="header-agent-image"/>
                </div>
            </div>
            <div class="mobile-button">
                <a href="tel:(716) 473-8899"><i class="fa fa-phone"></i>Call an Agent</a>
            </div>
        </div>
      </div> 
  </div>
</header>
<!-- header -->
  <!-- header-another-step-->
  <header class="wow-header wow-header-second">
    <div class="container">
      <div class="row">
        <div class="col-md-2 wow-logo">
          <a href="" class="wow-logo">
            <img src="images/main-logo.png" alt="header-logo"/>
          </a>
        </div>
        <div class="col-md-10 wow-agent-block">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Continue application</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Learn About Medicare</a>
                </li>
              </ul>
            </div>
        </div> 
    </div>
  </header>
  <!-- header-another-step-->