<!-- step2 -->
<div class="heading">
    <h2>What benefits are most important to you?</h2>
  </div>
  <form class="step step2">
    <div class="form-check">
      <input class="form-check-input" name="benefits[]" type="checkbox" value="Emergency Care/Hospitalization" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        <img src="images/emergency-icon.svg" alt="step-icon"/>
        Emergency Care/Hospitalization
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" name="benefits[]" type="checkbox" value="Preventative Care" id="flexCheckDefault1">
      <label class="form-check-label" for="flexCheckDefault1">
        <img src="images/care-icon.svg" alt="step-icon"/>
        Preventative Care
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" name="benefits[]" type="checkbox" value="Dental" id="flexCheckDefault2">
      <label class="form-check-label" for="flexCheckDefault2">
        <img src="images/dental-icon.svg" alt="step-icon"/>
        Dental
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" name="benefits[]" type="checkbox" value="Vision" id="flexCheckDefault3">
      <label class="form-check-label" for="flexCheckDefault3">
        <img src="images/vision-icon.svg" alt="step-icon"/>
        Vision
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" name="benefits[]" type="checkbox" value="Telehealth" id="flexCheckDefault4">
      <label class="form-check-label" for="flexCheckDefault4">
        <img src="images/telephone-icon.svg" alt="step-icon"/>
        Telehealth
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" name="benefits[]" type="checkbox" value="Coverage for pre-existing conditions" id="flexCheckDefault5">
      <label class="form-check-label" for="flexCheckDefault5">
        <img src="images/coverage-condition-icon.svg" alt="step-icon"/>
        Coverage for pre-existing conditions
      </label>
    </div>
    <div class="contact-part">
        <button type="button" class="btn btn-primary" onclick="setBenefitsData();">
            <!--<div class="spinner-border spinner-border-sm" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>-->
            Continue
        </button>
        <a href="tel:(716) 473-8899" class="form-call"><span>OR CALL </span>(716) 473-8899</a>
    </div>
  </form>
  <!-- step2 -->