<!-- step13 -->
<div class="heading last-step-heading">
  <h2>Thank You!</h2>
</div>
<form class="step step9 step6 step12">
  <div class="see-result-discrition">
    <h4>Your application has been submitted. <br /> Want quicker results ? Call Now</h4>
  </div>
  <div class="contact-part">
    <a class="btn-primary" href="tel:(716) 473-8899">(716) 473-8899</a>
  </div>
</form>
<!-- step13 -->