<!-- step1 -->
<div class="heading">
  <h2>When would you like coverage?</h2>
</div>
<form class="step step1">
  <div class="form-check">
  <input class="form-check-input" type="radio" name="coverage" id="coverage1" value="option1">
  <label class="form-check-label" for="coverage1" onclick="setCoverageData('Immediately');">
      <img src="images/coverage-icon3.svg" alt="coverage-step-icon"/>
      Immediately
  </label>
  </div>
  <div class="form-check">
  <input class="form-check-input" type="radio" name="coverage" id="coverage2" value="option2">
  <label class="form-check-label" for="coverage2"  onclick="setCoverageData('Within 2 months');">
      <img src="images/coverage-icon2.svg" alt="coverage-step-icon"/>
      Within 2 months
  </label>
  </div>
  <div class="form-check">
  <input class="form-check-input" type="radio" name="coverage" id="coverage3" value="option3">
  <label class="form-check-label" for="coverage3" onclick="setCoverageData('Not sure');">
      <img src="images/coverage-icon1.svg" alt="coverage-step-icon"/>
      Not sure
  </label>
  </div>
</form>
<!-- step1 -->