<!-- step11 -->
<div class="heading">
  <h2>What is your email?</h2>
</div>
<form class="step step9 step6 step10">
  <div class="input-group">
    <input type="email" id="email" class="form-control" placeholder="Email" aria-label="email">
  </div>
  <div class="contact-part">
    <button type="button" class="btn btn-primary" onclick="setEmailData(true);">Continue</button>
    <a href="javascript:void(0);" class="btn btn-link" onclick="setEmailData(false);">Unsure</a>
    <a href="tel:(716) 473-8899" class="form-call"><span>OR CALL </span>(716) 473-8899</a>
  </div>
</form>
<!-- step11 -->