<!-- step3 -->
<div class="heading">
  <h2>Are you currently enrolled in Medicare Parts A or B?</h2>
</div>
<form class="step step3">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="medicare" id="medicare1" value="Yes" onclick="setMediCareData()">
    <label class="form-check-label" for="medicare1">
      <img src="images/yes-icon.svg" alt="coverage-step-icon"/>
      Yes
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="medicare" id="medicare2" value="No" onclick="setMediCareData()">
    <label class="form-check-label" for="medicare2">
      <img src="images/no-icon.svg" alt="coverage-step-icon"/>
      No
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="medicare" id="medicare3" value="Not sure" onclick="setMediCareData()">
    <label class="form-check-label" for="medicare3">
      <img src="images/notsure-icon.svg" alt="coverage-step-icon"/>
      Not sure
    </label>
  </div>
</form>
<!-- step3 -->