<!-- step8 -->
<div class="heading">
  <h2>Are you receiving benefits from New York Medicaid, also known as<br> Medicaid Managed Care?</h2>
</div>
<form class="step step7">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="medicaid" id="medicaidyes" value="Yes" onclick="setMediCaidData(true);">
    <label class="form-check-label" for="medicaidyes">
      <img src="images/medicaid-yes.svg" alt="medicaid-step-icon"/>
      Yes
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="medicaid" id="medicaidno" value="No" onclick="setMediCaidData(true);">
    <label class="form-check-label" for="medicaidno">
      <img src="images/medicaid-no.svg" alt="medicaid-step-icon"/>
      No
    </label>
  </div>
  <div class="contact-part">
    <a href="javascript:void(0);" class="btn btn-link" onclick="setMediCaidData(false);">Unsure</a>
    <a href="tel:(716) 473-8899" class="form-call"><span>OR CALL </span>(716) 473-8899</a>
  </div>
</form>
<!-- step8 -->