<!-- step10 -->
<div class="heading">
  <h2>What is your name?</h2>
</div>
<form class="step step9 step6">
  <div class="input-group">
    <input type="text" class="form-control" id="fname" placeholder="First Name" aria-label="first name">
  </div>
  <div class="input-group">
    <input type="text" class="form-control" id="lname" placeholder="Last Name" aria-label="last name">
  </div>
  <div class="contact-part">
    <button type="button" class="btn btn-primary" onclick="setNameData();">Continue</button>
    <a href="tel:(716) 473-8899" class="form-call"><span>OR CALL </span>(716) 473-8899</a>
  </div>
</form>
<!-- step10 -->