<!-- step9 -->
<div class="heading">
  <h2>Do you have 3 or more prescriptions ?</h2>
</div>
<form class="step step8 step7">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="prescriptions" id="prescriptionsyes" value="Yes" onclick="setPrescriptionData(true);">
    <label class="form-check-label" for="prescriptionsyes">
      <img src="images/medicaid-yes.svg" alt="medicaid-step-icon"/>
      Yes
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="prescriptions" id="prescriptionsno" value="No" onclick="setPrescriptionData(true);">
    <label class="form-check-label" for="prescriptionsno">
      <img src="images/medicaid-no.svg" alt="medicaid-step-icon"/>
      No
    </label>
  </div>
  <div class="contact-part">
    <a href="javascript:void(0);" class="btn btn-link" onclick="setPrescriptionData(false);">Skip</a>
    <a href="tel:(716) 473-8899" class="form-call"><span>OR CALL </span>(716) 473-8899</a>
  </div>
</form>
<!-- step9 -->