<!-- step5 -->
<div class="heading">
  <h2>Have you used Tobacco Products within the last 12 months?</h2>
</div>
<form class="step step4">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="tobacco" id="Yes" value="Yes" onclick="setTobaccoData();">
    <label class="form-check-label" for="Yes">
      <img src="images/cigarette.svg" alt="step-icon"/>
      Yes
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="tobacco" id="No" value="No" onclick="setTobaccoData();">
    <label class="form-check-label" for="No">
      <img src="images/no-icon.svg" alt="step-icon"/>
      No
    </label>
  </div>
</form>
<!-- step5 -->