<!-- step7 -->
<div class="heading">
  <h2>What is your zip code?</h2>
  <p>Medicare plans vary by county - this let us know what plans may be available to you.</p>
</div>
<form class="step step6">
  <div class="input-group">
    <input type="text" class="form-control" id="zipcode" placeholder="Enter Zip" aria-label="enter zip">
  </div>
  <div class="contact-part">
    <button type="button" class="btn btn-primary" onclick="setZipData();">Continue</button>
    <a href="tel:(716) 473-8899" class="form-call"><span>OR CALL </span>(716) 473-8899</a>
  </div>
</form>
<!-- step7 -->