<%- include('../partials/head') %>
<%- include('../partials/header') %>

<section class="privacy-policy">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Terms And Conditions</h1>
        <p>Wowhealthinsight.Com (owned and operated by new horizons health group llc) is an independent marketplace and is not a federal or state marketplace website.
          Wowhealthinsight.Com (owned and operated by new horizons health group llc) does provide quotes or sell insurance directly to consumers, wowhealthinsight.Com  (owned and operated by new horizons health group llc)is not affiliated with any exchange, wowhealthinsight.Com (owned and operated by new horizons health group llc) is a licensed insurance agency or broker. Accordingly, you should not send us (via mail or email) any sensitive information, including personal health information or applications. Any such communications will not be treated as confidential and will be discarded, as, in offering this website, we are required to comply with the standards established under 45 cfr 155.260 to protect the privacy and security of personally identifiable information.
        </p>
        <p>This website may not display all data on qualified health plans being offered in your state through the marketplace website. To see all available data on qualified health plan options in your state, visit your state marketplace website or go to the health insurance marketplace website at www.Healthcare.Gov
        </p>
        <h3>Advertised Pricing:</h3>
        <p> There are several factors that impact your monthly premium; including, but not limited to your age, geographical location, annual income, dependents, and the type of plan you choose. Monthly premiums do not include out-of-pocket costs.
        </p>
        <p>The advertised price may not be typical. The following parameters were used: 21 year old adult, non-tobacco user, no children, and no available coverage through a spouse’s employer. Even when using the same parameters, this result is subject to change.
        </p>
      </div>
    </div>
  </div>
</section>


<%- include('../partials/footer') %>